*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(1,22,39);
  font-family: Consolas;
  overflow-x: hidden;
  overflow-y: hidden;
}
.cyan-font{
  color:rgb(56,184,150)
}

.blue-font{
  color:rgb(50,67,148)
}

.orange-font{
  color:rgb(188,122,116)
}

.comment-font{
  color: rgb(116, 151, 180);
}

.link-style{
  text-decoration: none;
  color: rgb(116, 151, 180);
}
.nav-header{
  border-left: 1px solid rgb(116, 151, 180, 0.2);
  border-right: 1px solid rgb(116, 151, 180, 0.2);
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.nav-header:hover{
  border-bottom: 3px solid rgb(188,122,116);
  .link-style{
    color:white
  }
}